<p>dashboard works!</p>
<hr>
<div class="row">
    <div class="col-md-3">
        <button mat-button color="primary" (click)="ShowDemoComponent()">Demo Component</button>
    </div>
    <div class="col-md-3">
        <button mat-button color="warn">Warn</button>
    </div>
    <div class="col-md-3">
        <button mat-button color="alert">Warn</button>
    </div>
    <div class="col-md-3">
        <button mat-button color="warn">Warn</button>
    </div>
</div>
<hr>
<router-outlet></router-outlet>  