<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
<mat-grid-list cols="1" rowHeight="10:1" style="background-color: #e0ddd6;">
    <mat-grid-tile style="background-color: #e0ddd6;">BVK Token Based Authentication</mat-grid-tile>
  </mat-grid-list>
<hr>
<br>
  <div align="center">
  
    <p>
        <mat-form-field appearance="outline">
          <mat-label>User ID</mat-label>
          <input matInput placeholder="User ID">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" type="password">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
    
      <p>
       <button mat-flat-button color="warn">Login</button>
      </p>
    </div>